@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 142 100% 50%;
  }

  body {
    @apply bg-[#0A0A0A] text-white;
  }
}

@layer utilities {
  .glow {
    box-shadow: 0 0 15px theme('colors.primary.DEFAULT');
  }
  
  .text-glow {
    text-shadow: 0 0 10px theme('colors.primary.DEFAULT');
  }
}